{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "Pixop API",
    "description" : "\nThe Pixop API provides a comprehensive RESTful interface for interacting with the Pixop Platform.\nIt allows users to manage API keys, projects, videos, and more.\n\nThe Pixop Platform offers video processing features such as upscaling, format conversion, and compression. It uses\nAI-driven algorithms to optimize video quality, reduce file sizes, and improve playback performance.\n\n**Quick Start Guide**\n- Explore the [Pixop API Documentation](https://docs.pixop.com/reference/) to familiarize yourself with the API's capabilities.\n\n**Required Headers**\nInclude the following headers in all API requests:\n- `Accept`: `application/json`\n- `Content-Type`: `application/json`\n- `X-API-Key`: Your API key for authentication (e.g., `X-API-Key: <your-api-key>`).  \n  **Note:** API key management endpoints that use Basic Authentication do not require the `X-API-Key` header.\n\n**Rate Limits**\nAll endpoints, except those related to API key management, enforce rate limits. Response headers provide the following rate limit details:\n- `X-RateLimit-Limit`: The maximum number of requests allowed per minute.\n- `X-RateLimit-Remaining`: The number of requests remaining in the current rate limit window.\n- `X-RateLimit-Reset`: The number of seconds until the current rate limit window resets.\n",
    "termsOfService" : "https://docs.pixop.com/reference/terms-of-service",
    "contact" : {
      "email" : "api@pixop.com"
    },
    "version" : "1.0.0-rc.8"
  },
  "x-proxy-enabled" : false,
  "externalDocs" : {
    "description" : "Learn more about Pixop",
    "url" : "https://www.pixop.com"
  },
  "servers" : [ {
    "url" : "https://api.pixop.com/api",
    "description" : "Production environment"
  }, {
    "url" : "https://staging-api.pixop.com/api",
    "description" : "Staging environment"
  } ],
  "tags" : [ {
    "name" : "api key",
    "description" : "Operations for managing API keys. These endpoints use Basic Authentication with an email and password."
  }, {
    "name" : "account",
    "description" : "Operations for viewing user account details."
  }, {
    "name" : "billing",
    "description" : "Operations for viewing billing and payment information."
  }, {
    "name" : "team",
    "description" : "Operations for viewing team details."
  }, {
    "name" : "project",
    "description" : "Operations for creating and managing projects."
  }, {
    "name" : "S3 input location",
    "description" : "Operations for managing S3 input locations, which are used to access video files for ingestion and processing."
  }, {
    "name" : "S3 output location",
    "description" : "Operations for managing S3 output locations, which are used for delivery of video files."
  }, {
    "name" : "video processing configuration",
    "description" : "Operations for creating and managing video processing configurations."
  }, {
    "name" : "video",
    "description" : "Operations for managing videos, including metadata and associations."
  }, {
    "name" : "video in",
    "description" : "Operations for importing and ingesting video data into the Pixop Platform."
  }, {
    "name" : "video processing",
    "description" : "Operations for configuring and executing video processing tasks."
  }, {
    "name" : "video out",
    "description" : "Operations for exporting video data from the Pixop Platform."
  }, {
    "name" : "webhook public key",
    "description" : "Operations for retrieving public keys used to verify webhook signatures."
  }, {
    "name" : "webhook",
    "description" : "Operations for creating and managing webhooks.\n\n---\n\n### Webhook Signature Verification\n\nPixop signs all outgoing webhook requests to allow verification of their authenticity and integrity.\n\nEach request includes the following HTTP headers:\n\n- `X-Pixop-Signature`: A base64-encoded signature of the timestamp and request body.\n- `X-Pixop-Public-Key-Id`: The UUID of the public key used to verify the signature.\n- `X-Pixop-Timestamp`: A Unix timestamp (in seconds) indicating when the request was signed.\n- `X-Pixop-Algorithm`: The signing algorithm. Currently `SHA256withECDSA`.\n\n**Signature format:**\n\n```\n<timestamp>.<payloadJson>\n```\n\n- `<timestamp>` is taken from `X-Pixop-Timestamp`\n- `<payloadJson>` is the raw request body as sent by Pixop\n\nThis string is signed using ECDSA (`SHA256withECDSA`), and the result is base64-encoded.\n\n**Verifying the Signature:**\n\n1. Concatenate the timestamp and request body:\n   ```\n   timestamp + \".\" + rawRequestBody\n   ```\n2. Retrieve the public key using the `X-Pixop-Public-Key-Id`:\n   ```\n   [GET /v1/webhooks/public-keys/{id}](https://docs.pixop.com/reference/getWebhookPublicKeyById/)\n   ```\n3. Verify the signature using the specified algorithm and public key.\n4. Reject requests with timestamps older than an acceptable threshold (e.g., 5 minutes) to mitigate replay attacks.\n\n**Webhook requests have a 10-second timeout. Respond promptly and handle long-running logic asynchronously to avoid delivery failures.**\n\nAlthough public key retrieval is typically fast, it's strongly recommended to **cache** it to reduce latency and improve performance.\n\n**Key rotation:**\n\nPixop rotates webhook signing keys regularly. During rotation, two keys may be valid for a short grace period. Always verify the signature using the public key referenced by `X-Pixop-Public-Key-Id`.\n\n**Code example:**\n\nA public [Spring Boot example project](coming-soon) is available to demonstrate webhook signature verification.\n\n---\n\n### Webhook Retry Behavior\n\nPixop automatically retries failed webhook deliveries using an **exponential backoff strategy***. Retry behavior can be customized per webhook.\n\nA webhook delivery is considered failed if:\n\n- The response status code is not `2xx`\n- The request times out or encounters a network error\n- The `WebhookRateLimitPerSecond` threshold is exceeded and no permit is acquired within 5 seconds\n\nIf a `429 Too Many Requests` response includes a `Retry-After` header (or similar), Pixop honors it when scheduling the next retry attempt.\n\nRetries continue until the maximum retry window (`maxTotalRetryDelayMinutes`) is reached.\n\nDetailed delivery history — including status codes, response bodies, retry timing, and headers — is available via the [GET /v1/webhooks/events](https://docs.pixop.com/reference/getWebhookEvents/) endpoints.\n\nWebhook event history is retained for **10 days**, or **1 day** for test events.\n\n**Event Ordering and Context**\n\nWebhook events are dispatched **asynchronously** and independently. While Pixop makes a best-effort attempt to deliver events in the order they occur, **delivery order is not guaranteed**.\n\nFor instance, a `video_processing.done` event may arrive **before** the corresponding `video_processing.started` event for the same `videoId`. This can happen due to network retries, parallel processing, or delays in webhook delivery.\n\nTo correctly handle events:\n\n  - Treat each event as **self-contained**\n  - Use the `occurredAt` date and time to determine the actual sequence of events\n  - Design webhook receivers to be **idempotent** and resilient to out-of-order delivery\n\nFor additional context about a given event, query the related video resource using:\n  [GET /v1/videos/{videoId}](https://docs.pixop.com/reference/getVideoById/)\n"
  }, {
    "name" : "webhook event",
    "description" : "Operations for viewing webhook event deliveries and their statuses."
  } ],
  "security" : [ {
    "api_key" : [ ]
  } ],
  "paths" : {
    "/v1/api-keys" : {
      "post" : {
        "tags" : [ "api key" ],
        "summary" : "Create a new API key",
        "description" : "Creates a new API key associated with the authenticated user. API keys are used for authentication when accessing the Pixop API.\n\nEach user can have up to **2 active API keys**. If this limit is reached, attempts to create an additional active API key will result in a `409 Conflict` response.\n        \n**Note**\n- API keys become eligible for automatic deletion if they are not used for authentication for 90 consecutive days.\n  Using a key successfully resets this 90-day inactivity window, but the key may become eligible for deletion again after a later period of inactivity.\n- When a key becomes eligible for deletion, the `deletionEligibleAt` field will indicate the earliest date on which it may be deleted.\n",
        "operationId" : "createApiKey",
        "security" : [ {
          "basic_auth" : [ ]
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/ApiKeyPostRequest"
        },
        "responses" : {
          "201" : {
            "description" : "API key successfully created.",
            "$ref" : "#/components/responses/ApiKeyResponse"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "409" : {
            "$ref" : "#/components/responses/Conflict"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "get" : {
        "tags" : [ "api key" ],
        "summary" : "Retrieve API keys",
        "description" : "Retrieves a paginated list of API keys associated with the authenticated user.",
        "operationId" : "getApiKeys",
        "security" : [ {
          "basic_auth" : [ ]
        } ],
        "parameters" : [ {
          "$ref" : "#/components/parameters/PageNumberParam"
        }, {
          "$ref" : "#/components/parameters/PageSizeParam"
        }, {
          "$ref" : "#/components/parameters/SortDirectionParam"
        }, {
          "$ref" : "#/components/parameters/SortByBaseParam"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/ApiKeysPageResponse"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/api-keys/{id}" : {
      "get" : {
        "tags" : [ "api key" ],
        "summary" : "Retrieve API key details",
        "description" : "Retrieves the details of a specific API key using its unique identifier.",
        "operationId" : "getApiKeyById",
        "security" : [ {
          "basic_auth" : [ ]
        } ],
        "parameters" : [ {
          "$ref" : "#/components/parameters/IdPathParam"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/ApiKeyResponse"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "patch" : {
        "tags" : [ "api key" ],
        "summary" : "Update an API key",
        "description" : "Updates the name or description of an existing API key. To activate or deactivate an API key, use the respective endpoints.",
        "operationId" : "patchApiKey",
        "security" : [ {
          "basic_auth" : [ ]
        } ],
        "parameters" : [ {
          "$ref" : "#/components/parameters/IdPathParam"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/ApiKeyPatchRequest"
        },
        "responses" : {
          "200" : {
            "description" : "API key successfully updated.",
            "$ref" : "#/components/responses/ApiKeyResponse"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "delete" : {
        "tags" : [ "api key" ],
        "summary" : "Delete an inactive API key",
        "description" : "Deletes an inactive API key. Active API keys must be deactivated before they can be deleted. \nA `409 Conflict` response is returned, if the API key is active.\n",
        "operationId" : "deleteApiKeyById",
        "security" : [ {
          "basic_auth" : [ ]
        } ],
        "parameters" : [ {
          "$ref" : "#/components/parameters/IdPathParam"
        } ],
        "responses" : {
          "204" : {
            "description" : "API key successfully deleted. No content to return.",
            "$ref" : "#/components/responses/NoContent"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "409" : {
            "$ref" : "#/components/responses/Conflict"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/api-keys/{id}/deactivate" : {
      "post" : {
        "tags" : [ "api key" ],
        "summary" : "Deactivate an API key",
        "description" : "Deactivates an API key. If the API key is already inactive, the operation has no effect.",
        "operationId" : "deactivateApiKeyById",
        "security" : [ {
          "basic_auth" : [ ]
        } ],
        "parameters" : [ {
          "$ref" : "#/components/parameters/IdPathParam"
        } ],
        "responses" : {
          "200" : {
            "description" : "API key successfully deactivated.",
            "$ref" : "#/components/responses/ApiKeyResponse"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/api-keys/{id}/activate" : {
      "post" : {
        "tags" : [ "api key" ],
        "summary" : "Activate an API key",
        "description" : "Activates an API key. If the API key is already active, the operation has no effect. \nIf the maximum number of active API keys allowed has been reached, a `409 Conflict` response is returned.\n",
        "operationId" : "activateApiKeyById",
        "security" : [ {
          "basic_auth" : [ ]
        } ],
        "parameters" : [ {
          "$ref" : "#/components/parameters/IdPathParam"
        } ],
        "responses" : {
          "200" : {
            "description" : "API key successfully activated.",
            "$ref" : "#/components/responses/ApiKeyResponse"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "409" : {
            "$ref" : "#/components/responses/Conflict"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/account" : {
      "get" : {
        "tags" : [ "account" ],
        "summary" : "Retrieve account details",
        "description" : "Retrieves account details for the provided API key.",
        "operationId" : "getAccount",
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/AccountResponse"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/account/financial-details" : {
      "get" : {
        "tags" : [ "account" ],
        "summary" : "Retrieve financial details",
        "description" : "Retrieves financial details, including the current balances and total processing amount spent for the selected team.",
        "operationId" : "getFinancialDetails",
        "parameters" : [ {
          "$ref" : "#/components/parameters/SelectTeamId"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/FinancialDetailsResponse"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/billing-periods" : {
      "get" : {
        "tags" : [ "billing" ],
        "summary" : "Retrieve paginated list of billing periods",
        "description" : "Retrieves a paginated list of billing periods associated with the provided API key.",
        "operationId" : "getBillingPeriods",
        "parameters" : [ {
          "$ref" : "#/components/parameters/PageNumberParam"
        }, {
          "$ref" : "#/components/parameters/PageSizeParam"
        }, {
          "$ref" : "#/components/parameters/SortDirectionParam"
        }, {
          "$ref" : "#/components/parameters/SortByBaseParam"
        }, {
          "$ref" : "#/components/parameters/FilterByTeamId"
        }, {
          "$ref" : "#/components/parameters/FilterByFromDate"
        }, {
          "$ref" : "#/components/parameters/FilterByToDate"
        }, {
          "$ref" : "#/components/parameters/FilterEndedMode"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/BillingPeriodsPageResponse"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/billing-periods/{id}" : {
      "get" : {
        "tags" : [ "billing" ],
        "summary" : "Retrieve billing period details",
        "description" : "Retrieves the details of a specific billing period by its unique identifier.",
        "operationId" : "getBillingPeriodById",
        "parameters" : [ {
          "$ref" : "#/components/parameters/IdPathParam"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/BillingPeriodResponse"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/billing-periods/{id}/transactions" : {
      "get" : {
        "tags" : [ "billing" ],
        "summary" : "Retrieve transactions for a billing period",
        "description" : "Retrieves a paginated list of transactions for a specific billing period, sorted by date.",
        "operationId" : "getTransactionsByBillingPeriodId",
        "parameters" : [ {
          "$ref" : "#/components/parameters/IdPathParam"
        }, {
          "$ref" : "#/components/parameters/PageNumberParam"
        }, {
          "$ref" : "#/components/parameters/PageSizeParam"
        }, {
          "$ref" : "#/components/parameters/SortDirectionParam"
        }, {
          "$ref" : "#/components/parameters/FilterByFromDate"
        }, {
          "$ref" : "#/components/parameters/FilterByToDate"
        }, {
          "$ref" : "#/components/parameters/FilterProcessingTransactionsMode"
        }, {
          "$ref" : "#/components/parameters/FilterByVideoId"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved the paginated list of transactions for the given billing period.",
            "$ref" : "#/components/responses/TransactionsPageResponse"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/billing-periods/transactions" : {
      "get" : {
        "tags" : [ "billing" ],
        "summary" : "Retrieve transactions for the latest billing period",
        "description" : "Retrieves a paginated list of transactions for the selected team's latest billing period, sorted by date.",
        "operationId" : "getTransactionsForLatestBillingPeriod",
        "parameters" : [ {
          "$ref" : "#/components/parameters/SelectTeamId"
        }, {
          "$ref" : "#/components/parameters/PageNumberParam"
        }, {
          "$ref" : "#/components/parameters/PageSizeParam"
        }, {
          "$ref" : "#/components/parameters/SortDirectionParam"
        }, {
          "$ref" : "#/components/parameters/FilterByFromDate"
        }, {
          "$ref" : "#/components/parameters/FilterByToDate"
        }, {
          "$ref" : "#/components/parameters/FilterProcessingTransactionsMode"
        }, {
          "$ref" : "#/components/parameters/FilterByVideoId"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved the paginated list of transactions for the latest billing period.",
            "$ref" : "#/components/responses/TransactionsPageResponse"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/teams" : {
      "get" : {
        "tags" : [ "team" ],
        "summary" : "Retrieve paginated list of teams",
        "description" : "Retrieves a paginated list of teams associated with the provided API key.",
        "operationId" : "getTeams",
        "parameters" : [ {
          "$ref" : "#/components/parameters/PageNumberParam"
        }, {
          "$ref" : "#/components/parameters/PageSizeParam"
        }, {
          "$ref" : "#/components/parameters/SortDirectionParam"
        }, {
          "$ref" : "#/components/parameters/SortByBaseParam"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/TeamsPageResponse"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/teams/{id}" : {
      "get" : {
        "tags" : [ "team" ],
        "summary" : "Retrieve team details",
        "description" : "Retrieves the details of a team by its unique identifier.",
        "operationId" : "getTeamById",
        "parameters" : [ {
          "$ref" : "#/components/parameters/IdPathParam"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/TeamResponse"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/projects" : {
      "post" : {
        "tags" : [ "project" ],
        "summary" : "Create a new project",
        "description" : "Creates a new project within the selected team.",
        "operationId" : "createProject",
        "parameters" : [ {
          "$ref" : "#/components/parameters/SelectTeamId"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/ProjectPostRequest"
        },
        "responses" : {
          "201" : {
            "description" : "Project successfully created.",
            "$ref" : "#/components/responses/ProjectResponse"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "get" : {
        "tags" : [ "project" ],
        "summary" : "Retrieve paginated list of projects",
        "description" : "Retrieves a paginated list of projects associated with the provided API key.",
        "operationId" : "getProjects",
        "parameters" : [ {
          "$ref" : "#/components/parameters/PageNumberParam"
        }, {
          "$ref" : "#/components/parameters/PageSizeParam"
        }, {
          "$ref" : "#/components/parameters/SortDirectionParam"
        }, {
          "$ref" : "#/components/parameters/SortByBaseParam"
        }, {
          "$ref" : "#/components/parameters/FilterByTeamId"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/ProjectsPageResponse"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/projects/default" : {
      "get" : {
        "tags" : [ "project" ],
        "summary" : "Retrieve project details for the default project of the selected team",
        "description" : "Retrieves the details of the default project of the selected team. The default project of a team is the oldest\nproject with the name 'Default Project'. If the selected team does not exist or does not have a default project,\na `404 Not Found` response is returned.\n",
        "operationId" : "getDefaultProject",
        "parameters" : [ {
          "$ref" : "#/components/parameters/SelectTeamId"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/ProjectResponse"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/projects/{id}" : {
      "patch" : {
        "tags" : [ "project" ],
        "summary" : "Update an existing project",
        "description" : "Updates the details of an existing project by its unique identifier.",
        "operationId" : "patchProject",
        "parameters" : [ {
          "$ref" : "#/components/parameters/IdPathParam"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/ProjectPatchRequest"
        },
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/ProjectResponse"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "get" : {
        "tags" : [ "project" ],
        "summary" : "Retrieve project details",
        "description" : "Retrieves the details of a specific project by its unique identifier.",
        "operationId" : "getProjectById",
        "parameters" : [ {
          "$ref" : "#/components/parameters/IdPathParam"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/ProjectResponse"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "delete" : {
        "tags" : [ "project" ],
        "summary" : "Delete a project",
        "description" : "Deletes a project by its unique identifier. If the project has videos associated with it, a `409 Conflict` response is returned.\nVideos must be deleted before deleting the project. Use [GET /v1/videos](https://docs.pixop.com/reference/getVideos/) with the `FilterByProjectId` query parameter to retrieve associated videos.\n",
        "operationId" : "deleteProjectById",
        "parameters" : [ {
          "$ref" : "#/components/parameters/IdPathParam"
        } ],
        "responses" : {
          "204" : {
            "$ref" : "#/components/responses/NoContent",
            "description" : "Project successfully deleted. No content to return."
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "409" : {
            "$ref" : "#/components/responses/Conflict"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/input-locations/s3" : {
      "post" : {
        "tags" : [ "S3 input location" ],
        "summary" : "Create a new S3 input location",
        "description" : "Creates a new S3 input location for the selected team, which can be used with the  [POST /v1/videos/in/s3/{inputLocationId}](https://docs.pixop.com/reference/createMasterVideoFromS3InputLocationId/)  endpoint to create a master video record from video data stored in the bucket defined in the S3 input location.\n",
        "operationId" : "createS3InputLocation",
        "parameters" : [ {
          "$ref" : "#/components/parameters/SelectTeamId"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/S3InputLocationPostRequest"
        },
        "responses" : {
          "201" : {
            "description" : "S3 input location successfully created.",
            "$ref" : "#/components/responses/S3InputLocationResponse"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "get" : {
        "tags" : [ "S3 input location" ],
        "summary" : "Retrieve paginated list of S3 input locations",
        "description" : "Retrieves a paginated list of S3 input locations associated with the provided API key.",
        "operationId" : "getS3InputLocations",
        "parameters" : [ {
          "$ref" : "#/components/parameters/PageNumberParam"
        }, {
          "$ref" : "#/components/parameters/PageSizeParam"
        }, {
          "$ref" : "#/components/parameters/SortDirectionParam"
        }, {
          "$ref" : "#/components/parameters/SortByBaseParam"
        }, {
          "$ref" : "#/components/parameters/FilterByTeamId"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/S3InputLocationsPageResponse"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/input-locations/s3/{id}" : {
      "get" : {
        "tags" : [ "S3 input location" ],
        "summary" : "Retrieve S3 input location details",
        "description" : "Retrieves the details of an S3 input location by its unique identifier.",
        "operationId" : "getS3InputLocationById",
        "parameters" : [ {
          "$ref" : "#/components/parameters/IdPathParam"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/S3InputLocationResponse"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "patch" : {
        "tags" : [ "S3 input location" ],
        "summary" : "Update an S3 input location",
        "description" : "Updates the details of an existing S3 input location by its unique identifier.",
        "operationId" : "patchS3InputLocation",
        "parameters" : [ {
          "$ref" : "#/components/parameters/IdPathParam"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/S3InputLocationPatchRequest"
        },
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/S3InputLocationResponse"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "delete" : {
        "tags" : [ "S3 input location" ],
        "summary" : "Delete an S3 input location",
        "description" : "Deletes an S3 input location by its unique identifier.",
        "operationId" : "deleteS3InputLocationById",
        "parameters" : [ {
          "$ref" : "#/components/parameters/IdPathParam"
        } ],
        "responses" : {
          "204" : {
            "$ref" : "#/components/responses/NoContent",
            "description" : "S3 input location successfully deleted. No content to return."
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/output-locations/s3" : {
      "post" : {
        "tags" : [ "S3 output location" ],
        "summary" : "Create a new S3 output location",
        "description" : "Creates a new S3 output location for the selected team. This location can be used with the  [POST /v1/videos/{videoId}/out/s3/{outputLocationId}](https://docs.pixop.com/reference/copyVideoDataToS3OutputLocationId/) endpoint to copy video data to the specified S3 bucket.\n",
        "operationId" : "createS3OutputLocation",
        "parameters" : [ {
          "$ref" : "#/components/parameters/SelectTeamId"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/S3OutputLocationPostRequest"
        },
        "responses" : {
          "201" : {
            "description" : "S3 output location successfully created.",
            "$ref" : "#/components/responses/S3OutputLocationResponse"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "get" : {
        "tags" : [ "S3 output location" ],
        "summary" : "Retrieve paginated list of S3 output locations",
        "description" : "Retrieves a paginated list of S3 output locations associated with the provided API key.",
        "operationId" : "getS3OutputLocations",
        "parameters" : [ {
          "$ref" : "#/components/parameters/PageNumberParam"
        }, {
          "$ref" : "#/components/parameters/PageSizeParam"
        }, {
          "$ref" : "#/components/parameters/SortDirectionParam"
        }, {
          "$ref" : "#/components/parameters/SortByBaseParam"
        }, {
          "$ref" : "#/components/parameters/FilterByTeamId"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/S3OutputLocationsPageResponse"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/output-locations/s3/{id}" : {
      "get" : {
        "tags" : [ "S3 output location" ],
        "summary" : "Retrieve S3 output location details",
        "description" : "Retrieves the details of an S3 output location by its unique identifier.",
        "operationId" : "getS3OutputLocationById",
        "parameters" : [ {
          "$ref" : "#/components/parameters/IdPathParam"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/S3OutputLocationResponse"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "patch" : {
        "tags" : [ "S3 output location" ],
        "summary" : "Update an S3 output location",
        "description" : "Updates the details of an existing S3 output location by its unique identifier.",
        "operationId" : "patchS3OutputLocation",
        "parameters" : [ {
          "$ref" : "#/components/parameters/IdPathParam"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/S3OutputLocationPatchRequest"
        },
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/S3OutputLocationResponse"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "delete" : {
        "tags" : [ "S3 output location" ],
        "summary" : "Delete an S3 output location",
        "description" : "Deletes an S3 output location by its unique identifier.",
        "operationId" : "deleteS3OutputLocationById",
        "parameters" : [ {
          "$ref" : "#/components/parameters/IdPathParam"
        } ],
        "responses" : {
          "204" : {
            "$ref" : "#/components/responses/NoContent",
            "description" : "S3 output location successfully deleted. No content to return."
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/videos/in/https" : {
      "post" : {
        "tags" : [ "video in" ],
        "summary" : "Copy video data from an HTTPS URL into the Pixop Platform",
        "description" : "Copies video data from an HTTPS URL into the Pixop Platform, making it available for processing.\n\nA new master video record is created for the selected team, and an asynchronous multipart copy operation from the provided HTTPS URL to Pixop is initiated.  \nThe URL must support **range requests** and remain accessible for the entire duration of the copy process.\n\nThe status of the copy operation can be tracked using:\n- [GET /v1/videos/{videoId}/in/status](https://docs.pixop.com/reference/getVideoInStatus/)\n- [GET /v1/videos/{videoId}](https://docs.pixop.com/reference/getVideoById/) (for full video details)\n- [Webhooks](https://docs.pixop.com/reference/createWebhook/): Subscribe to `video_in` and/or `video_in_ingestion` events to receive real-time updates\n\nThe `videoId` is returned in the response.\n\n**Workflow:**\n1. **Copy Operation**: Once complete, the status updates to `DONE`.\n2. **Ingestion Process**: If `FullIngestion` is `true`, Pixop extracts thumbnails, full frames, and a web video.\n3. **Free 10-Second Clip**: Unless disabled for the team, a free 10-second clip is automatically created and becomes available via [GET /v1/videos/{videoId}/derived](https://docs.pixop.com/reference/getDerivedVideos/).  \n  This clip is treated as a separate video and will trigger its own `clip_processing` and `clip_ingestion` webhook events under a new `videoId`.\n\n**Notes:**\n- If the video size exceeds **500 GB**, a `400 Bad Request` response is returned.\n- A `400 Bad Request` may also be returned if the URL is invalid, inaccessible, or does not support range requests.\n",
        "operationId" : "createMasterVideoFromHttps",
        "requestBody" : {
          "$ref" : "#/components/requestBodies/CreateMasterVideoFromHttpsRequest"
        },
        "parameters" : [ {
          "$ref" : "#/components/parameters/FullIngestion"
        }, {
          "$ref" : "#/components/parameters/SelectTeamId"
        }, {
          "$ref" : "#/components/parameters/Crc32c"
        }, {
          "$ref" : "#/components/parameters/MaxConcurrentConnections"
        } ],
        "responses" : {
          "202" : {
            "$ref" : "#/components/responses/VideoInStatusResponse",
            "description" : "The video copy operation has been successfully initiated."
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/videos/in/s3" : {
      "post" : {
        "tags" : [ "video in" ],
        "summary" : "Copy video data from an S3 bucket into the Pixop Platform",
        "description" : "Copies video data from an S3 bucket into the Pixop Platform, making it available for processing.\nA new master video record is created for the selected team, and an asynchronous multipart copy operation from the provided S3 bucket to Pixop is initiated.\n\nThe status of the copy operation can be tracked using:\n- [GET /v1/videos/{videoId}/in/status](https://docs.pixop.com/reference/getVideoInStatus/)\n- [GET /v1/videos/{videoId}](https://docs.pixop.com/reference/getVideoById/) (for full video details)\n- [Webhooks](https://docs.pixop.com/reference/createWebhook/): Subscribe to `video_in` and/or `video_in_ingestion` events to receive real-time updates\n\nThe `videoId` is returned in the response.\n\n**Workflow:**\n1. **Copy Operation**: Once complete, the status updates to `DONE`.\n2. **Ingestion Process**: If `FullIngestion` is `true`, Pixop extracts thumbnails, full frames, and a web video.\n3. **Free 10-Second Clip**: Unless disabled for the team, a free 10-second clip is automatically created and becomes available via [GET /v1/videos/{videoId}/derived](https://docs.pixop.com/reference/getDerivedVideos/).  \n  This clip is treated as a separate video and will trigger its own `clip_processing` and `clip_ingestion` webhook events under a new `videoId`.\n\n**Note**:\n- If the video size exceeds **500 GB**, a `400 Bad Request` response is returned.\n- A `400 Bad Request` may also be returned for other reasons, such as invalid credentials.\n- A `404 Not Found` response is returned if the bucket, or object does not exist.\n",
        "operationId" : "createMasterVideoFromS3Bucket",
        "requestBody" : {
          "$ref" : "#/components/requestBodies/CreateMasterVideoFromS3BucketRequest"
        },
        "parameters" : [ {
          "$ref" : "#/components/parameters/FullIngestion"
        }, {
          "$ref" : "#/components/parameters/SelectTeamId"
        } ],
        "responses" : {
          "202" : {
            "$ref" : "#/components/responses/VideoInStatusResponse",
            "description" : "The video copy operation has been successfully initiated."
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/videos/in/s3/{inputLocationId}" : {
      "post" : {
        "tags" : [ "video in" ],
        "summary" : "Copy video data from an S3 input location into the Pixop Platform",
        "description" : "Copies video data from a preconfigured S3 input location into the Pixop Platform, creating a new master video record for the selected team. \nThis is similar to [POST /v1/videos/in/s3](https://docs.pixop.com/reference/createMasterVideoFromS3Bucket/), but uses the `inputLocationId` for the S3 bucket reference.\n",
        "operationId" : "createMasterVideoFromS3InputLocationId",
        "parameters" : [ {
          "$ref" : "#/components/parameters/InputLocationId"
        }, {
          "$ref" : "#/components/parameters/FullIngestion"
        }, {
          "$ref" : "#/components/parameters/SelectTeamId"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/CreateMasterVideoFromS3Request"
        },
        "responses" : {
          "202" : {
            "$ref" : "#/components/responses/VideoInStatusResponse",
            "description" : "The video copy operation has been successfully initiated."
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/videos/{videoId}/in/status" : {
      "get" : {
        "tags" : [ "video in" ],
        "summary" : "Retrieve \"video in\" status",
        "description" : "Retrieves the status of the asynchronous copy operation initiated by:\n- [POST /v1/videos/in/https](https://docs.pixop.com/reference/createMasterVideoFromHttps/)\n- [POST /v1/videos/in/s3](https://docs.pixop.com/reference/createMasterVideoFromS3Bucket/)\n- [POST /v1/videos/in/s3/{inputLocationId}](https://docs.pixop.com/reference/createMasterVideoFromS3InputLocationId/)\n\nThe status indicates whether the operation is `IN_PROGRESS`, `DONE`, or `FAILED`.\n",
        "operationId" : "getVideoInStatus",
        "parameters" : [ {
          "$ref" : "#/components/parameters/VideoId"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/VideoInStatusResponse"
          },
          "204" : {
            "$ref" : "#/components/responses/NoContent",
            "description" : "A \"video in\" operation has not been initiated."
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/videos/{videoId}/in/restart" : {
      "post" : {
        "tags" : [ "video in" ],
        "summary" : "Restart a failed \"video in\" operation",
        "description" : "Restarts a failed \"video in\" operation. The operation resumes from where it previously failed.\n\n**Note**: This is only allowed when `uploadStatus` is `FAILED`. Otherwise, a `409 Conflict` response is returned.\n",
        "operationId" : "restartFailedVideoInOperation",
        "parameters" : [ {
          "$ref" : "#/components/parameters/VideoId"
        }, {
          "$ref" : "#/components/parameters/SkipChecksumValidation"
        } ],
        "responses" : {
          "202" : {
            "description" : "The video copy operation has been successfully restarted.",
            "$ref" : "#/components/responses/VideoInStatusResponse"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "409" : {
            "$ref" : "#/components/responses/Conflict"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/videos/{videoId}/in/abandon" : {
      "delete" : {
        "tags" : [ "video in" ],
        "summary" : "Abandon a failed \"video in\" operation",
        "description" : "Abandons a failed \"video in\" operation. This operation permanently deletes the video record and all associated data.\n\n**Note**: This is only allowed when `uploadStatus` is `FAILED`. Otherwise, a `409 Conflict` response is returned.\n",
        "operationId" : "abandonFailedVideoInOperation",
        "parameters" : [ {
          "$ref" : "#/components/parameters/VideoId"
        } ],
        "responses" : {
          "204" : {
            "$ref" : "#/components/responses/NoContent",
            "description" : "The \"video in\" operation was successfully abandoned, and the video record was deleted."
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "409" : {
            "$ref" : "#/components/responses/Conflict"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/videos" : {
      "get" : {
        "tags" : [ "video" ],
        "summary" : "Retrieve paginated list of videos",
        "description" : "Retrieves a paginated list of videos associated with the provided API key.",
        "operationId" : "getVideos",
        "parameters" : [ {
          "$ref" : "#/components/parameters/PageNumberParam"
        }, {
          "$ref" : "#/components/parameters/PageSizeParam"
        }, {
          "$ref" : "#/components/parameters/SortDirectionParam"
        }, {
          "$ref" : "#/components/parameters/SortByBaseParam"
        }, {
          "$ref" : "#/components/parameters/FilterByTeamId"
        }, {
          "$ref" : "#/components/parameters/FilterByProjectId"
        }, {
          "$ref" : "#/components/parameters/FilterByMasterVideoId"
        }, {
          "$ref" : "#/components/parameters/FilterByClipId"
        }, {
          "$ref" : "#/components/parameters/FilterClipMode"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/VideosPageResponse"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/videos/{videoId}" : {
      "get" : {
        "tags" : [ "video" ],
        "summary" : "Retrieve details about a video",
        "description" : "Retrieves details about a specific video by its unique identifier.",
        "operationId" : "getVideoById",
        "parameters" : [ {
          "$ref" : "#/components/parameters/VideoId"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/VideoResponse"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "patch" : {
        "tags" : [ "video" ],
        "summary" : "Update an existing video",
        "description" : "Updates the metadata of an existing video by its unique identifier.",
        "operationId" : "patchVideo",
        "parameters" : [ {
          "$ref" : "#/components/parameters/VideoId"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/VideoPatchRequest"
        },
        "responses" : {
          "200" : {
            "description" : "The video metadata was successfully updated.",
            "$ref" : "#/components/responses/VideoResponse"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "delete" : {
        "tags" : [ "video" ],
        "summary" : "Delete a video",
        "description" : "Deletes a video by its unique identifier.\n- When deleting a master video record, all derived videos will also be deleted.\n- When deleting a clip, any processed clips based on it will also be deleted.\n\nDerived videos can be retrieved using [GET /v1/videos/{videoId}/derived](https://docs.pixop.com/reference/getDerivedVideos/).\nOptionally, a list of expected derived `videoIds` can be specified in the request body.\nIf this list is specified and incomplete, the operation fails with a `409 Conflict` response.\n",
        "operationId" : "deleteVideoById",
        "parameters" : [ {
          "$ref" : "#/components/parameters/VideoId"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/VideoDeleteRequest"
        },
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/DeletedVideoIdsResponse"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "409" : {
            "description" : "Conflict. The list of expected derived `videoIds` is incomplete.",
            "$ref" : "#/components/responses/Conflict"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/videos/{videoId}/derived" : {
      "get" : {
        "tags" : [ "video" ],
        "summary" : "Retrieve derived videos",
        "description" : "Retrieves a paginated list of videos derived from the specified `videoId`.\n- When the `videoId` refers to a master video record, all related videos and clips are returned.\n- When the `videoId` refers to a clip, all processed clips based on it are returned.\n",
        "operationId" : "getDerivedVideos",
        "parameters" : [ {
          "$ref" : "#/components/parameters/VideoId"
        }, {
          "$ref" : "#/components/parameters/PageNumberParam"
        }, {
          "$ref" : "#/components/parameters/PageSizeParam"
        }, {
          "$ref" : "#/components/parameters/SortDirectionParam"
        }, {
          "$ref" : "#/components/parameters/SortByBaseParam"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved the paginated list of derived video items.",
            "$ref" : "#/components/responses/VideosPageResponse"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/videos/{videoId}/compare-with/{targetVideoId}" : {
      "get" : {
        "tags" : [ "video" ],
        "summary" : "Get a web comparison link for two videos",
        "description" : "Provides a link to compare two videos in Pixop Studio, provided both videos have been fully ingested with complete \nframes and a web version, their durations are sufficiently similar, and they share the same master video.\nIf the videos do not meet these criteria, a `409 Conflict` response is returned.\n",
        "operationId" : "getVideoComparisonLink",
        "parameters" : [ {
          "$ref" : "#/components/parameters/VideoId"
        }, {
          "$ref" : "#/components/parameters/TargetVideoId"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved the video comparison link.",
            "$ref" : "#/components/responses/VideoComparisonLinkResponse"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "409" : {
            "$ref" : "#/components/responses/Conflict"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/processing-configurations" : {
      "post" : {
        "tags" : [ "video processing configuration" ],
        "summary" : "Create a new video processing configuration",
        "description" : "Creates a new video processing configuration for the selected team.",
        "operationId" : "createVideoProcessingConfiguration",
        "parameters" : [ {
          "$ref" : "#/components/parameters/SelectTeamId"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/VideoProcessingConfigurationRequest"
        },
        "responses" : {
          "201" : {
            "description" : "Video processing configuration successfully created.",
            "$ref" : "#/components/responses/VideoProcessingConfigurationResponse"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "get" : {
        "tags" : [ "video processing configuration" ],
        "summary" : "Retrieve paginated list of video processing configurations",
        "description" : "Retrieves a paginated list of video processing configurations associated with the provided API key.",
        "operationId" : "getVideoProcessingConfigurations",
        "parameters" : [ {
          "$ref" : "#/components/parameters/PageNumberParam"
        }, {
          "$ref" : "#/components/parameters/PageSizeParam"
        }, {
          "$ref" : "#/components/parameters/SortDirectionParam"
        }, {
          "$ref" : "#/components/parameters/SortByBaseParam"
        }, {
          "$ref" : "#/components/parameters/FilterByTeamId"
        }, {
          "$ref" : "#/components/parameters/FilterBuiltInMode"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/VideoProcessingConfigurationsPageResponse"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/processing-configurations/{confId}" : {
      "get" : {
        "tags" : [ "video processing configuration" ],
        "summary" : "Retrieve video processing configuration details",
        "description" : "Retrieves the details of a video processing configuration by its unique identifier.",
        "operationId" : "getVideoProcessingConfigurationById",
        "parameters" : [ {
          "$ref" : "#/components/parameters/VideoProcessingConfigurationId"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/VideoProcessingConfigurationResponse"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "delete" : {
        "tags" : [ "video processing configuration" ],
        "summary" : "Delete a video processing configuration",
        "description" : "Deletes a video processing configuration by its unique identifier.",
        "operationId" : "deleteVideoProcessingConfigurationById",
        "parameters" : [ {
          "$ref" : "#/components/parameters/VideoProcessingConfigurationId"
        } ],
        "responses" : {
          "204" : {
            "$ref" : "#/components/responses/NoContent",
            "description" : "Video processing configuration successfully deleted. No content to return."
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/videos/{videoId}/processing/appraisals/create/{confId}" : {
      "post" : {
        "tags" : [ "video processing" ],
        "summary" : "Create an appraisal using a configuration ID",
        "description" : "Creates an appraisal for processing a video with options specified in the query parameters and a predefined configuration identified by `confId`.\n\nThe processed video will be associated with the same team and project as the specified `videoId` once accepted. \nAppraisals have an expiry time and must be accepted before the processing task can start.\n",
        "operationId" : "createVideoProcessingAppraisalByConfId",
        "parameters" : [ {
          "$ref" : "#/components/parameters/VideoId"
        }, {
          "$ref" : "#/components/parameters/VideoProcessingConfigurationId"
        }, {
          "$ref" : "#/components/parameters/StartPositionMillisecondsParam"
        }, {
          "$ref" : "#/components/parameters/EndPositionMillisecondsParam"
        } ],
        "responses" : {
          "201" : {
            "description" : "Video processing appraisal successfully created.",
            "$ref" : "#/components/responses/VideoProcessingAppraisalResponse"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/videos/{videoId}/processing/appraisals/create" : {
      "post" : {
        "tags" : [ "video processing" ],
        "summary" : "Create an appraisal for processing a video",
        "description" : "Creates an appraisal for processing a video with options specified in the query parameters and request body.\n\nThe processed video will be associated with the same team and project as the specified `videoId` once accepted. \nAppraisals have an expiry time and must be accepted before the processing task can start.\n",
        "operationId" : "createVideoProcessingAppraisal",
        "parameters" : [ {
          "$ref" : "#/components/parameters/VideoId"
        }, {
          "$ref" : "#/components/parameters/StartPositionMillisecondsParam"
        }, {
          "$ref" : "#/components/parameters/EndPositionMillisecondsParam"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/VideoProcessingRequest"
        },
        "responses" : {
          "201" : {
            "description" : "Video processing appraisal successfully created.",
            "$ref" : "#/components/responses/VideoProcessingAppraisalResponse"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/videos/{videoId}/processing/appraisals/{appraisalId}/accept" : {
      "post" : {
        "tags" : [ "video processing" ],
        "summary" : "Accept a video processing appraisal",
        "description" : "Accepts a video processing appraisal and initiates the processing of the specified video.\n\nA new video, identified by the `videoId` returned in the response, is created. This `videoId` should be used to track the asynchronous processing operation using:\n- [GET /v1/videos/{videoId}/processing/status](https://docs.pixop.com/reference/getVideoProcessingStatus/)\n- [GET /v1/videos/{videoId}](https://docs.pixop.com/reference/getVideoById/) (for full video details)\n- [Webhooks](https://docs.pixop.com/reference/createWebhook/): Subscribe to `clip_processing` and/or `video_processing` events to receive real-time updates\n",
        "operationId" : "acceptVideoProcessingAppraisal",
        "parameters" : [ {
          "$ref" : "#/components/parameters/VideoId"
        }, {
          "$ref" : "#/components/parameters/VideoProcessingAppraisalId"
        }, {
          "$ref" : "#/components/parameters/VideoNameParam"
        }, {
          "$ref" : "#/components/parameters/VideoDescriptionParam"
        } ],
        "responses" : {
          "202" : {
            "description" : "Video processing appraisal successfully accepted.",
            "$ref" : "#/components/responses/VideoProcessingStatusResponse"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "409" : {
            "description" : "Conflict. Insufficient projected balance.",
            "$ref" : "#/components/responses/Conflict"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/videos/{videoId}/processing/start/{confId}" : {
      "post" : {
        "tags" : [ "video processing" ],
        "summary" : "Start video processing using a configuration ID",
        "description" : "Initiates the processing of the specified video with options specified in the query parameters and a predefined configuration identified by `confId`.\n\nA new video, identified by the `videoId` returned in the response, is created. This `videoId` should be used to track the asynchronous processing operation using:\n- [GET /v1/videos/{videoId}/processing/status](https://docs.pixop.com/reference/getVideoProcessingStatus/)\n- [GET /v1/videos/{videoId}](https://docs.pixop.com/reference/getVideoById/) (for full video details)\n- [Webhooks](https://docs.pixop.com/reference/createWebhook/): Subscribe to `clip_processing` and/or `video_processing` events to receive real-time updates\n",
        "operationId" : "startProcessingByVideoIdAndConfId",
        "parameters" : [ {
          "$ref" : "#/components/parameters/VideoId"
        }, {
          "$ref" : "#/components/parameters/VideoProcessingConfigurationId"
        }, {
          "$ref" : "#/components/parameters/VideoNameParam"
        }, {
          "$ref" : "#/components/parameters/VideoDescriptionParam"
        }, {
          "$ref" : "#/components/parameters/StartPositionMillisecondsParam"
        }, {
          "$ref" : "#/components/parameters/EndPositionMillisecondsParam"
        } ],
        "responses" : {
          "202" : {
            "description" : "Video processing successfully started.",
            "$ref" : "#/components/responses/VideoProcessingStatusResponse"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "409" : {
            "description" : "Conflict. Insufficient projected balance.",
            "$ref" : "#/components/responses/Conflict"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/videos/{videoId}/processing/start" : {
      "post" : {
        "tags" : [ "video processing" ],
        "summary" : "Start video processing",
        "description" : "Initiates the processing of the specified video with options specified in the query parameters and request body.\n\nA new video, identified by the `videoId` returned in the response, is created. This `videoId` should be used to track the asynchronous processing operation using:\n- [GET /v1/videos/{videoId}/processing/status](https://docs.pixop.com/reference/getVideoProcessingStatus/)\n- [GET /v1/videos/{videoId}](https://docs.pixop.com/reference/getVideoById/) (for full video details)\n- [Webhooks](https://docs.pixop.com/reference/createWebhook/): Subscribe to `clip_processing` and/or `video_processing` events to receive real-time updates\n",
        "operationId" : "startProcessingByVideoId",
        "requestBody" : {
          "$ref" : "#/components/requestBodies/VideoProcessingRequest"
        },
        "parameters" : [ {
          "$ref" : "#/components/parameters/VideoId"
        }, {
          "$ref" : "#/components/parameters/VideoNameParam"
        }, {
          "$ref" : "#/components/parameters/VideoDescriptionParam"
        }, {
          "$ref" : "#/components/parameters/StartPositionMillisecondsParam"
        }, {
          "$ref" : "#/components/parameters/EndPositionMillisecondsParam"
        } ],
        "responses" : {
          "202" : {
            "description" : "Video processing successfully started.",
            "$ref" : "#/components/responses/VideoProcessingStatusResponse"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "409" : {
            "description" : "Conflict. Insufficient projected balance.",
            "$ref" : "#/components/responses/Conflict"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/videos/{videoId}/processing/status" : {
      "get" : {
        "tags" : [ "video processing" ],
        "summary" : "Retrieve video processing status",
        "description" : "Retrieves the status of the asynchronous video processing task initiated by:\n- [POST /v1/videos/{videoId}/processing/appraisals/{appraisalId}/accept](https://docs.pixop.com/reference/acceptVideoProcessingAppraisal/)\n- [POST /v1/videos/{videoId}/processing/start/{confId}](https://docs.pixop.com/reference/startProcessingByVideoIdAndConfId/)\n- [POST /v1/videos/{videoId}/processing/start](https://docs.pixop.com/reference/startProcessingByVideoId/)\n\nThe status indicates whether the operation is `IN_PROGRESS`, `DONE`, or `FAILED`.\n",
        "operationId" : "getVideoProcessingStatus",
        "parameters" : [ {
          "$ref" : "#/components/parameters/VideoId"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/VideoProcessingStatusResponse"
          },
          "204" : {
            "$ref" : "#/components/responses/NoContent",
            "description" : "A video processing task has not started yet."
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/videos/{videoId}/out/https" : {
      "post" : {
        "tags" : [ "video out" ],
        "summary" : "Generates a pre-signed URL for downloading video data.",
        "description" : "\nGenerates a pre-signed HTTPS URL for downloading the video from the Pixop platform.\n\n- **Resumable downloads** are supported via HTTP Range requests.\n- The URL remains valid for the specified duration.\n- The video file is **not ready for download** until the processing task is complete. \n\n**Notes:**\n- If the video is **not ready for download**, a `409 Conflict` response will be returned.\n",
        "operationId" : "generateVideoDownloadUrl",
        "parameters" : [ {
          "$ref" : "#/components/parameters/VideoId"
        }, {
          "$ref" : "#/components/parameters/DurationMinutes"
        } ],
        "responses" : {
          "201" : {
            "$ref" : "#/components/responses/VideoDownloadUrlResponse"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "409" : {
            "$ref" : "#/components/responses/Conflict",
            "description" : "The video is not ready for download."
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/videos/{videoId}/out/s3" : {
      "post" : {
        "tags" : [ "video out" ],
        "summary" : "Copy video data to an S3 bucket",
        "description" : "Initiates an asynchronous multipart copy operation to transfer video data from the Pixop Platform to the specified S3 bucket.\n\n- The video data is **not ready for copy** until the processing task is complete.  \nYou can check the status of the processing task using [GET /v1/videos/{videoId}/processing/status](https://docs.pixop.com/reference/getVideoProcessingStatus/) (or [GET /v1/videos/{videoId}/in/status](https://docs.pixop.com/reference/getVideoInStatus/) for a \"video in\" copy operation), or subscribe to `clip_processing`, `video_processing` or `video_in` [webhooks](https://docs.pixop.com/reference/createWebhook/) to receive real-time updates.\n\nThe status of this operation can be tracked using:\n- [GET /v1/videos/{videoId}/out/status](https://docs.pixop.com/reference/getVideoOutStatus/)\n- [GET /v1/videos/{videoId}](https://docs.pixop.com/reference/getVideoById/) (for full video details)\n- [Webhooks](https://docs.pixop.com/reference/createWebhook/): Subscribe to `video_out` events to receive real-time updates\n\n- When the operation succeeds, the status updates to `DONE`. If it fails, the status updates to `FAILED`.\n\n**Retry and Abandon Options:**\n- Restart a `FAILED` operation using `POST /v1/videos/{videoId}/out/restart`.\n- Abandon a `FAILED` operation and free up resources using `POST /v1/videos/{videoId}/out/abandon`.\n\n**Notes:**  \n- Only one \"video out\" operation can run per video at a time. Starting a new operation will result in a `409 Conflict` response.  \n- If the specified object key already exists in the S3 bucket, or if the video data is **not ready for copy**, a `409 Conflict` response is also returned.\n",
        "operationId" : "copyVideoDataToS3Bucket",
        "parameters" : [ {
          "$ref" : "#/components/parameters/VideoId"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/CopyVideoToS3BucketRequest"
        },
        "responses" : {
          "202" : {
            "$ref" : "#/components/responses/VideoOutStatusResponse",
            "description" : "The video copy operation has been successfully initiated."
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "409" : {
            "$ref" : "#/components/responses/Conflict"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/videos/{videoId}/out/s3/{outputLocationId}" : {
      "post" : {
        "tags" : [ "video out" ],
        "summary" : "Copy video data to an S3 bucket using an output location ID",
        "description" : "Initiates an asynchronous copy operation to transfer video data to an S3 bucket defined by the specified `outputLocationId`.\n\n- The behavior is identical to [POST /v1/videos/{videoId}/out/s3](https://docs.pixop.com/reference/copyVideoDataToS3Bucket/), but uses a predefined S3 output location.\n",
        "operationId" : "copyVideoDataToS3OutputLocationId",
        "parameters" : [ {
          "$ref" : "#/components/parameters/VideoId"
        }, {
          "$ref" : "#/components/parameters/OutputLocationId"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/CopyVideoToS3Request"
        },
        "responses" : {
          "202" : {
            "$ref" : "#/components/responses/VideoOutStatusResponse",
            "description" : "The video copy operation has been successfully initiated."
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "409" : {
            "$ref" : "#/components/responses/Conflict"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/videos/{videoId}/out/status" : {
      "get" : {
        "tags" : [ "video out" ],
        "summary" : "Retrieve the status of a \"video out\" operation",
        "description" : "Retrieves the status of the asynchronous copy operation initiated by:\n- [POST /v1/videos/{videoId}/out/s3](https://docs.pixop.com/reference/copyVideoDataToS3Bucket/)\n- [POST /v1/videos/{videoId}/out/s3/{outputLocationId}](https://docs.pixop.com/reference/copyVideoDataToS3OutputLocationId/)\n\nThe status indicates whether the operation is `IN_PROGRESS`, `DONE`, or `FAILED`.\n",
        "operationId" : "getVideoOutStatus",
        "parameters" : [ {
          "$ref" : "#/components/parameters/VideoId"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/VideoOutStatusResponse"
          },
          "204" : {
            "$ref" : "#/components/responses/NoContent",
            "description" : "A \"video out\" operation has not been started yet."
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/videos/{videoId}/out/restart" : {
      "post" : {
        "tags" : [ "video out" ],
        "summary" : "Restart a failed \"video out\" operation",
        "description" : "Restarts a failed \"video out\" operation, resuming from the point where it previously failed.\n\n**Note:** This operation is only allowed when the status is `FAILED`. Attempting to restart an active or successful operation will result in a `409 Conflict` response.\n",
        "operationId" : "restartFailedVideoOutOperation",
        "parameters" : [ {
          "$ref" : "#/components/parameters/VideoId"
        } ],
        "responses" : {
          "202" : {
            "description" : "The video copy operation has been successfully restarted.",
            "$ref" : "#/components/responses/VideoOutStatusResponse"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "409" : {
            "$ref" : "#/components/responses/Conflict"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/videos/{videoId}/out/abandon" : {
      "delete" : {
        "tags" : [ "video out" ],
        "summary" : "Abandon a failed \"video out\" operation",
        "description" : "Abandons a failed \"video out\" operation and releases resources allocated for the multipart upload process.\n\n**Note:** This operation is only allowed when the status is `FAILED`. Attempting to abandon an active or successful operation will result in a `409 Conflict` response.\n",
        "operationId" : "abandonFailedVideoOutOperation",
        "parameters" : [ {
          "$ref" : "#/components/parameters/VideoId"
        } ],
        "responses" : {
          "204" : {
            "$ref" : "#/components/responses/NoContent",
            "description" : "Successfully abandoned the \"video out\" operation and cleaned up resources. The video record remains intact."
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "409" : {
            "$ref" : "#/components/responses/Conflict"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/webhooks/public-keys" : {
      "get" : {
        "tags" : [ "webhook public key" ],
        "summary" : "List all webhook public keys",
        "description" : "Returns a list of webhook public keys used to verify webhook signatures.\n\nTypically, only one key is active at a time. \nDuring key rotation — which occurs at least every three months — two keys may temporarily exist to support a smooth transition.\n",
        "operationId" : "getWebhookPublicKeys",
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/WebhookPublicKeysResponse"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/webhooks/public-keys/{id}" : {
      "get" : {
        "tags" : [ "webhook public key" ],
        "summary" : "Retrieve a specific webhook public key",
        "description" : "Retrieves the details of a specific webhook public key using its unique identifier.",
        "operationId" : "getWebhookPublicKeyById",
        "parameters" : [ {
          "$ref" : "#/components/parameters/IdPathParam"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/WebhookPublicKeyResponse"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/webhooks" : {
      "post" : {
        "tags" : [ "webhook" ],
        "summary" : "Create a new webhook",
        "description" : "Creates a new webhook for the selected team. Webhooks are used to receive notifications about events on the Pixop Platform.\n\nEach team can have up to **10 active webhooks**. If this limit is reached, attempts to create an additional active webhook will result in a `409 Conflict` response.\n",
        "operationId" : "createWebhook",
        "parameters" : [ {
          "$ref" : "#/components/parameters/SelectTeamId"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/WebhookPostRequest"
        },
        "responses" : {
          "201" : {
            "$ref" : "#/components/responses/WebhookResponse",
            "description" : "Webhook successfully created."
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "409" : {
            "$ref" : "#/components/responses/Conflict"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "get" : {
        "tags" : [ "webhook" ],
        "summary" : "Retrieve webhooks",
        "description" : "Retrieves a paginated list of webhooks associated with the provided API key.",
        "operationId" : "getWebhooks",
        "parameters" : [ {
          "$ref" : "#/components/parameters/PageNumberParam"
        }, {
[...]
